In [6]:
def times():
    #initialize the num variable
    num = 0
    
    while num < 1 or num > 12:
        integer = int(input("Please enter an integer between 1(inclusive) and 12(inclusive): "))
        print(' ')
        try:
            num = int(integer)
        except ValueError:
            print("Invalid input, please enter an integer")
            print(' ')
            continue
        if num < 1 or num > 12:
            print("Integer must be between 1(inclusive) and 12(inclusive)")
            print(' ')

    i = 0
    
    while(i <= 12):
            num1 = num * i
            print("{} x {} = {}".format(num, i, num1))
            i += 1

In [7]:
times()

Please enter an integer between 1(inclusive) and 12(inclusive): 0

Integer must be between 1(inclusive) and 12(inclusive)

Please enter an integer between 1(inclusive) and 12(inclusive): -1

Integer must be between 1(inclusive) and 12(inclusive)

Please enter an integer between 1(inclusive) and 12(inclusive): 1

1 x 0 = 0
1 x 1 = 1
1 x 2 = 2
1 x 3 = 3
1 x 4 = 4
1 x 5 = 5
1 x 6 = 6
1 x 7 = 7
1 x 8 = 8
1 x 9 = 9
1 x 10 = 10
1 x 11 = 11
1 x 12 = 12

In [8]:
times()

Please enter an integer between 1(inclusive) and 12(inclusive): 2

2 x 0 = 0
2 x 1 = 2
2 x 2 = 4
2 x 3 = 6
2 x 4 = 8
2 x 5 = 10
2 x 6 = 12
2 x 7 = 14
2 x 8 = 16
2 x 9 = 18
2 x 10 = 20
2 x 11 = 22
2 x 12 = 24

In [9]:
times()

Please enter an integer between 1(inclusive) and 12(inclusive): 3

3 x 0 = 0
3 x 1 = 3
3 x 2 = 6
3 x 3 = 9
3 x 4 = 12
3 x 5 = 15
3 x 6 = 18
3 x 7 = 21
3 x 8 = 24
3 x 9 = 27
3 x 10 = 30
3 x 11 = 33
3 x 12 = 36

In [10]:
times()

Please enter an integer between 1(inclusive) and 12(inclusive): 4

4 x 0 = 0
4 x 1 = 4
4 x 2 = 8
4 x 3 = 12
4 x 4 = 16
4 x 5 = 20
4 x 6 = 24
4 x 7 = 28
4 x 8 = 32
4 x 9 = 36
4 x 10 = 40
4 x 11 = 44
4 x 12 = 48

In [11]:
times()

Please enter an integer between 1(inclusive) and 12(inclusive): 5

5 x 0 = 0
5 x 1 = 5
5 x 2 = 10
5 x 3 = 15
5 x 4 = 20
5 x 5 = 25
5 x 6 = 30
5 x 7 = 35
5 x 8 = 40
5 x 9 = 45
5 x 10 = 50
5 x 11 = 55
5 x 12 = 60

In [12]:
times()

Please enter an integer between 1(inclusive) and 12(inclusive): 6

6 x 0 = 0
6 x 1 = 6
6 x 2 = 12
6 x 3 = 18
6 x 4 = 24
6 x 5 = 30
6 x 6 = 36
6 x 7 = 42
6 x 8 = 48
6 x 9 = 54
6 x 10 = 60
6 x 11 = 66
6 x 12 = 72

In [13]:
times()

Please enter an integer between 1(inclusive) and 12(inclusive): 7

7 x 0 = 0
7 x 1 = 7
7 x 2 = 14
7 x 3 = 21
7 x 4 = 28
7 x 5 = 35
7 x 6 = 42
7 x 7 = 49
7 x 8 = 56
7 x 9 = 63
7 x 10 = 70
7 x 11 = 77
7 x 12 = 84

In [14]:
times()

Please enter an integer between 1(inclusive) and 12(inclusive): 8

8 x 0 = 0
8 x 1 = 8
8 x 2 = 16
8 x 3 = 24
8 x 4 = 32
8 x 5 = 40
8 x 6 = 48
8 x 7 = 56
8 x 8 = 64
8 x 9 = 72
8 x 10 = 80
8 x 11 = 88
8 x 12 = 96

In [15]:
times()

Please enter an integer between 1(inclusive) and 12(inclusive): 9

9 x 0 = 0
9 x 1 = 9
9 x 2 = 18
9 x 3 = 27
9 x 4 = 36
9 x 5 = 45
9 x 6 = 54
9 x 7 = 63
9 x 8 = 72
9 x 9 = 81
9 x 10 = 90
9 x 11 = 99
9 x 12 = 108

In [16]:
times()

Please enter an integer between 1(inclusive) and 12(inclusive): 10

10 x 0 = 0
10 x 1 = 10
10 x 2 = 20
10 x 3 = 30
10 x 4 = 40
10 x 5 = 50
10 x 6 = 60
10 x 7 = 70
10 x 8 = 80
10 x 9 = 90
10 x 10 = 100
10 x 11 = 110
10 x 12 = 120

In [17]:
times()

Please enter an integer between 1(inclusive) and 12(inclusive): 11

11 x 0 = 0
11 x 1 = 11
11 x 2 = 22
11 x 3 = 33
11 x 4 = 44
11 x 5 = 55
11 x 6 = 66
11 x 7 = 77
11 x 8 = 88
11 x 9 = 99
11 x 10 = 110
11 x 11 = 121
11 x 12 = 132

In [18]:
times()

Please enter an integer between 1(inclusive) and 12(inclusive): 13

Integer must be between 1(inclusive) and 12(inclusive)

Please enter an integer between 1(inclusive) and 12(inclusive): 14

Integer must be between 1(inclusive) and 12(inclusive)

Please enter an integer between 1(inclusive) and 12(inclusive): 12

12 x 0 = 0
12 x 1 = 12
12 x 2 = 24
12 x 3 = 36
12 x 4 = 48
12 x 5 = 60
12 x 6 = 72
12 x 7 = 84
12 x 8 = 96
12 x 9 = 108
12 x 10 = 120
12 x 11 = 132
12 x 12 = 144